{
  "singleQuote": true,
	"trailingComma": "all",
	"importOrderSortSpecifiers": true,
	"importOrderSeparation": true,
	"importOrderParserPlugins": ["classProperties", "decorators-legacy"],
	"importOrder": ["^[./]"]
}